[core]
    editor = vim
[user]
    name = Maxim Fedorenko
    email = varlllog@gmail.com
[merge]
    tool = vimdiff
[push]
    default = matching
[alias]
    lga = log --graph --oneline --all --decorate --author-date-order
    lgad = log --graph --oneline --all --decorate
    lg = log --graph --oneline --decorate --author-date-order
    lgd = log --graph --oneline --decorate
    lgav = log --graph --all --decorate --author-date-order
    lgv = log --graph --decorate --author-date-order
    lgvd = log --graph --decorate
    lgas = log --graph --oneline --all --decorate --simplify-by-decoration --author-date-order
    l = log --oneline --decorate --author-date-order
    la = log --oneline --all --decorate --author-date-order

    s = status --short
    ss = status

    sh = show
    d = diff
    dc = diff --cached
    co = checkout
    rh = reset --hard
    m = merge --no-ff
    mf = merge --ff-only
    br = branch
    c = commit -v
    f = fetch --prune

    a = add
    aa = add .
    ap = add -p
    au = add -u
